body{background-color:#E1884C;}
h1{color: white;font-size: 50px;text-align: center;}
img{border: 2px dashed white;}
h2{font-size :30px ;color: #E1884C; background-color: white;}
p{font-size:20px ;}
ol{font-size: 20px;}
.perfil{font-family: Georgia, 'Times New Roman', Times, serif;}
